/* Twój oryginalny kod */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-slide-down {
  animation: fadeInSlide 0.5s ease-out forwards;
}

/* Animacja dla efektu pojawiania się i zjeżdżania w dół */
@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Klasa do ukrycia elementu przed animacją */
.fade-in-on-scroll {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateY(40px);
}

/* Klasa aktywowana, gdy element jest widoczny */
.is-visible {
  opacity: 1;
  transform: translateY(0);
}


/* NOWE ANIMACJE DLA WJEŻDŻANIA PROJEKTÓW Z BOKU */

/* Animacje wjeżdżania z boku */
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); /* Zaczyna się poza lewym ekranem */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Kończy się na swojej normalnej pozycji */
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100px); /* Zaczyna się poza prawym ekranem */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Kończy się na swojej normalnej pozycji */
  }
}

/* Klasy, które będą używane w komponencie React, aby uruchomić animację */
.animate-slide-in-left {
  animation: slideFromLeft 0.6s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideFromRight 0.6s ease-out forwards;
}